form
{
    margin-top: 10px;
    position: relative;
    right: 300px;
}

div h2
{
    margin-bottom: 20px;
}

div .row
{
    margin-top: 10px;
}

.radio-group
{
    margin-left: 10px;
}

.radio-bottom
{
    margin-top: 10px;
}

label
{
    margin-left: 5px;
}